.github {
  border-radius: 15px;
  background-color: #ffffff;
}

.github img {
  border-radius: 300px;
  width: 9vh;
  left: 1vh;
  top: 1vh;
  height: auto;
}

.ghrepo {
  background-color: #ffffff;
  color: black;
  border: #e1e4e8 solid 1px;
}

.title {
    clear: left;
    display:block;
}
